[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

port=3840
mysqlx_port=13840

log_bin=log-bin
server-id=840

log_error_verbosity=3
skip-name-resolve=on

gtid_mode=on
enforce_gtid_consistency=on
